.header {
  background-color: #084982;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 99;
  height: 65px;
}

.user-btn {
  border: none;
  background-color: transparent;
}

.profile p {
  font-size: 14px;
}

.image {
  /* background-image: linear-gradient(to right, #084982 , #D34124); */
  height: 150px;
}

.profile .image img{
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}

::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
  background-color: #084982 !important;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
  max-width: 500px !important;
}
