.status-txt {
    color: #fff;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}

/* .left-content {
  color: #fff;
  background-image: var(--background);
  background-size: cover;
  width: 300px;
} */