.side-panel {
  border-right: 1px solid #ddd;
  height: 90vh;
  overflow-y: auto;
}

.card {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    border: 1px solid #333;
  }
}

.close-event {
  position: absolute;
  right: 5px;
  top: 5px;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.card-content p {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.email-subject {
  background-color: #ffecb3;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;

}

.fields {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}