.text {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: rgb(201, 26, 26);
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.side-panel {
  border-right: 1px solid #ddd;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.card {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    border: 1px solid #333;
  }
}

.close-event {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.site {
  font-size: 14px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

.camera {
  font-size: 14px;
  color: #666;
}

.date {
  font-size: 12px;
  color: #bb3137;
  font-weight: 500;
}

.email-subject {
  background-color: #ffecb3;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

.fields {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.action-btn {
  background-color: var(--cmn-background);
  color: #fff;
  border-radius: 6px;
  border-width: 0;
  font-size: 12px;
  padding: 5px;
  border: 3px solid #ffffff;
  width: 100%;

  &:hover {
    opacity: 0.9;
  }
}

.btn-secondary {
  padding: 4px;
  /* font-weight: 600; */
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.btn-secondary {
  border: 2px solid #ed3237;
  color: #ed3237;
}

.btn-secondary:hover {
  background: #ed3237;
  color: white;
}

.icon {
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}

.icon img {
  width: 16px;
}

.max-screen {
  position: fixed;
  width: 55%;
  /* height: 65%; */
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  /* transition: all 100ms ease-in-out; */
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* animation-delay: 100ms; */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .menu ::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
  width: 1000px !important;
} */

::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-size: 12px !important;
}

.dashboard-img {
  /* take remaining space */
  width: 500px;
  height: 500px;
  object-fit: cover; /* no crop, no overflow */
  background-color: #333;
}

.time-name {
  position: absolute;

  color: #ffffff;
  top: 95%;
  left: 1%;
}

.native-badge {
  font-weight: 600;
  animation: blinkAnimation 1s infinite;

  background-color: #084982;
  color: #fff;
  border-radius: 16px;
  border-width: 0;
  font-size: 12px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
}

@keyframes blinkAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
