<app-status></app-status>

<ng-container *ngIf="eventData.length !== 0">
  <div class="row">
    <div class="col-lg-2 d-none d-lg-block side-panel">
      <div class="card" *ngFor="let item of eventData; let i = index"
        [ngStyle]="{'border': item?.timestamp == this.currentItem?.timestamp ? '2px solid #084982' : ''}">

        <div class="card-content" (click)="displayCurrent(item)" #currentBtn>
          <div class="d-flex justify-content-between align-items-center">
            <p class="site">{{ item?.siteName }}</p>
            <a class="close-event" (click)="closeEvent(item)" matTooltip="clear">
              <img loading="lazy" src="assets/icons/close.svg" alt="" width="20px"></a>
          </div>
          <p class="camera">{{ item?.cameraId }}</p>
          <p class="date">{{ item?.timestamp | date: 'medium'}}</p>
          <p class="site text-primary">{{item?.userName | uppercase}}</p>
        </div>
      </div>
    </div>


    <ng-container *ngIf="currentItem">
      <!-- <a class="d-block d-lg-none">menu</a> -->
      <div class="col-lg-10" style="height: calc(100vh - 90px); overflow-y: auto;">
        <div class="row">
          <div class="col-lg-6 mb-1">
            <div [ngClass]="currentScreen === 'event-image' ? 'max-screen' : 'position-relative'">

              <!-- event image -->
              <img loading="lazy" [src]="environment + currentItem?.imageName" alt="LOADING..."
                onerror="this.src='assets/images/IVISsecurity_logo.png'" width="100%" height="500px"
                class="bg-dark border rounded" #image>

              <!-- icon buttons -->
              <div style="position: absolute; top: 5px; right: 5px;">
                <button class="icon" (click)="audio()" matTooltip="Siren">
                  <img loading="lazy" [src]="isPlaying ? 'assets/icons/siren-red.png' : 'assets/icons/siren-new.png'"
                    [ngClass]="isPlaying ? 'blink-animation' : ''" alt="" />
                </button>
                <button class="icon" (click)="downloadImg()" matTooltip="Screenshot">
                  <img loading="lazy" src="assets/icons/screenshot.svg" alt="" />
                </button>
                <button class="icon"
                  (click)="currentScreen === 'event-image' ? maxmizeScreen('') : maxmizeScreen('event-image')">
                  <img
                    [src]="currentScreen === 'event-image' ? 'assets/icons/close-black.svg' : 'assets/icons/fullscreen.svg'"
                    alt="">
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="d-flex gap-2 justify-content-end menu">
              <button *ngFor="let btn of actionTagsNew" type="button" class="btn btn-sm dialog-update-btn"
                [matMenuTriggerFor]="falseMenu" (click)="getCurrentType(btn)"
                [ngStyle]="{'background-color': btn?.categoryId === currentActionTag?.categoryId ? '#d34124' : '#084982'}">
                {{btn?.categoryName}}
              </button>

              <mat-menu #falseMenu xPosition="before">
                <div class="row m-0" *ngIf="subActionTags">
                  <button class="col-lg-12 action-btn" *ngFor="let btn of subActionTags"
                    (click)="currentSubActionTag = btn; updateEventFullDetails(currentActionTag?.categoryId)">{{btn?.subCategoryName}}</button>
                </div>
                <!-- <p *ngIf="subActionTags.length === 0" class="text-center p-5">Loading...</p> -->
              </mat-menu>

              <button type="button" class="btn btn-sm dialog-update-btn" [matMenuTriggerFor]="menu">Live</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openLiveDialog(1)">Current Camera</button>
                <button mat-menu-item (click)="openLiveDialog(2)">Total Cameras</button>
              </mat-menu>
            </div>

            <div class="p-2 border rounded mb-1" [ngClass]="currentScreen === 'email' ? 'max-screen' : ''"
              *ngIf="currentActionTag?.categoryId === 2 && currentSubActionTag">
              <!-- <a class="d-flex justify-content-end"
                (click)="currentScreen === 'email' ? maxmizeScreen('') : maxmizeScreen('email')">
                <img [src]="currentScreen === 'email' ? 'assets/icons/close-black.svg' : 'assets/icons/fullscreen.svg'"
                  alt="">
              </a> -->

              <ng-container *ngIf="path === 'pre-dispatch'">
                <div class="w-100">
                  <mat-radio-group [(ngModel)]="object">
                    <mat-radio-button value="person">Person</mat-radio-button>
                    <mat-radio-button value="vehicle">Vehicle</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Action Tag</mat-label>
                    <mat-select [(ngModel)]="selectedActionTag" >
                      <mat-option *ngFor="let item of actionTags" [value]="item.value">{{item.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Alert Type</mat-label>
                    <mat-select [(ngModel)]="alertType">
                      <mat-option *ngFor="let item of alertTypes; let i=index" [value]="item.guardAlertTypeId"
                        (click)="onAlertChange(item.guardAlertTypeId)">{{item.guardAlertType}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Alert Sub Type</mat-label>
                    <mat-select [(ngModel)]="alertSubType">
                      <mat-option *ngFor="let item of alertSubTypes; let i=index" [value]="item.guardSubAlertTypeId"
                        (click)="getEmailDataForVMSEvents()">{{item.guardSubAlertType}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </ng-container>

              <div class="w-100">
                <mat-form-field class="w-100">
                  <mat-label>Notes</mat-label>
                  <textarea matInput [(ngModel)]="notes" [rows]="(path == 'pre-dispatch'?2:7)"></textarea>
                </mat-form-field>
              </div>
            </div>

            <div class="p-2 border rounded" *ngIf="currentActionTag?.categoryId === 2 && currentSubActionTag">

              <!-- <h2>{{ cameraDetails?.siteName }}</h2> -->

              <table cellpadding="5" cellspacing="0" style="border: none;">
                <tbody>
                  <!-- Site Name -->
                  <!-- <tr>
                    <th>Site Name</th>
                    <td>{{ cameraDetails?.siteName }}</td>
                  </tr> -->

                  <!-- Camera Details -->
                  <!-- <tr>
                    <th>Camera ID</th>
                    <td>{{ cameraDetails?.cameras[0]?.cameraId }}</td>
                  </tr> -->

                  <tr>
                    <th>Camera Name</th>
                    <td>{{ cameraDetails?.cameras[0]?.cameraName }}</td>
                  </tr>
                  <!-- 
                  <tr>
                    <th>Monitoring</th>
                    <td>{{ cameraDetails?.cameras[0]?.monitoring ? 'Yes' : 'No' }}</td>
                  </tr> -->

                  <!-- Monitoring Hours -->
                  <tr>
                    <th>Monitoring Hours</th>
                    <td>{{ getMonitoringHours(cameraDetails?.cameras[0]?.monitoringHoursDetails) }}</td>
                  </tr>

                  <!-- Escalation Emails -->
                  <tr>
                    <th>To Emails</th>
                    <td>{{ cameraDetails?.escalation[0]?.toEmails?.join(', ') || 'None' }}</td>
                  </tr>

                  <tr>
                    <th>CC Emails</th>
                    <td>{{ cameraDetails?.escalation[0]?.ccEmails?.join(', ') || 'None' }}</td>
                  </tr>

                  <tr>
                    <th>BCC Emails</th>
                    <td>{{ cameraDetails?.escalation[0]?.bccEmails?.join(', ') || 'None' }}</td>
                  </tr>

                  <!-- Escalation Timing -->
                  <!-- <tr>
                    <th>Escalation Days</th>
                    <td>{{ cameraDetails?.escalation[0]?.days?.join(', ') || 'None' }}</td>
                  </tr>

                  <tr>
                    <th>Escalation Hours</th>
                    <td>{{ cameraDetails?.escalation[0]?.hours }}</td>
                  </tr> -->

                  <!-- <tr>
                    <th>Active</th>
                    <td>{{ cameraDetails?.escalation[0]?.active === 'T' ? 'Yes' : 'No' }}</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <ng-container *ngIf="emailData && currentActionTag?.categoryId === 2 && path === 'pre-dispatch'">
          <div class="p-3 border rounded" [ngClass]="currentScreen === 'template' ? 'max-screen' : ''">
            <!-- <a class="d-flex justify-content-end"
              (click)="currentScreen === 'template' ? maxmizeScreen('') : maxmizeScreen('template')">
              <img [src]="currentScreen === 'template' ? 'assets/icons/close-black.svg' : 'assets/icons/fullscreen.svg'"
                alt="">
            </a> -->

            <div class="email-subject">
              <p>{{emailData?.emailSubject}}</p>
            </div>

            <div class="email-body">
              <div class="mt-3">
                {{emailData?.emailBody}}
              </div>

              <div class="fields mt-2">
                <p><span>Location:&nbsp;</span><span>{{emailData?.emailFields.LOCATION}}</span></p>
                <p><span>Date:&nbsp;</span><span>{{emailData?.emailFields.DATE}}</span></p>
                <p><span>Time:&nbsp;</span><span>{{emailData?.emailFields.TIME}}</span></p>
              </div>

              <!-- <div class="mt-3">
              <a *ngFor="let item of emailData?.screenshots">
                <img loading="lazy" [src]="item" alt="Loading..." width="250px" class="m-1">
              </a>
            </div> -->

              <div class="mt-3">
                {{emailData?.emailFooter}}
              </div>
            </div>
          </div>
        </ng-container>

        <div class="d-flex align-items-center justify-content-end gap-1 mt-2"
          *ngIf="currentActionTag?.categoryId === 2">
          <ng-container *ngIf="path === 'pre-dispatch'">
            <button class="btn-secondary" (click)="updateEventFullDetails('second-level')"
              title="Send Email & Close">Complete</button>
            <button class="btn-secondary" (click)="write2Dispatch('dispatch-3rd-level')"
              title="Send to Dispatch">Escalate</button>
          </ng-container>

          <ng-container *ngIf="path === 'dispatch'" class="mt-5">
            <button class="btn-secondary" (click)="updateEventFullDetails('third-level')"
              title="Close">Complete</button>
            <button class="btn-secondary" (click)="write2Dispatch('observer-wall')"
              title="Send to Observer">Escalate</button>
          </ng-container>

          <ng-container *ngIf="path === 'observer'" class="mt-5">
            <button class="btn-secondary" (click)="updateEventFullDetails('fourth-level')"
              title="Send Email & Close">Complete</button>
            <button class="btn-secondary" (click)="write2Dispatch('dispatch-3rd-level')"
              title="Send to Second Level">Escalate</button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>