<div class="side-panel" [ngClass]="{ 'dialog-mode': isDialogMode }">
  <div class="d-flex justify-content-between">
    <button class="closebtn" (click)="closeSidePanel()">×</button>

  </div>

  <div class="mt-4">
    <div>
      <p class="header mb-3">Create ManualEvent</p>
      <form [formGroup]="dateTimeForm">

        <div class="row">
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Site</mat-label>
              <mat-select formControlName="site">
                <mat-option *ngFor="let item of Sites" [value]="item.siteId">
                  {{ item.siteName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Camera</mat-label>
              <mat-select formControlName="camera">
                <mat-option *ngFor="let item of monitoringCameras" [value]="item">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <div class="col-lg-4">

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-lg-4">

            <mat-form-field appearance="outline" class="time-field" class="w-100">
              <mat-label>HH</mat-label>
              <input matInput type="number" min="0" max="23" formControlName="hours">
            </mat-form-field>
          </div>

          <!-- <span class="colon">:</span> -->

          <div class="col-lg-4">

            <mat-form-field appearance="outline" class="time-field" class="w-100">
              <mat-label>MM</mat-label>
              <input matInput type="number" min="0" max="59" formControlName="minutes">
            </mat-form-field>
          </div>

          <!-- <span class="colon">:</span> -->
          <div class="col-lg-4">

            <mat-form-field appearance="outline" class="time-field" class="w-100">
              <mat-label>SS</mat-label>
              <input matInput type="number" min="0" max="59" formControlName="seconds">
            </mat-form-field>
          </div>



          <div class="col-lg-12 mt-3">

            <label class="form-label d-block mb-2">Native App?</label>

            <mat-radio-group formControlName="isActive" class="d-flex gap-4">

              <mat-radio-button [value]="true">
                Yes
              </mat-radio-button>

              <mat-radio-button [value]="false">
                No
              </mat-radio-button>

            </mat-radio-group>

          </div>


          <div class="col-lg-12 mt-3">

            <div class="upload-box" (click)="fileInput.click()">

              <div class="upload-content" >


                <button mat-stroked-button color="primary" type="button" style="background-color: transparent;border: none;">
                  Browse File
                </button>

                <input #fileInput type="file" accept="image/*,video/*" hidden (change)="onFileChange($event)">
              </div>

            </div>
          </div>

          <!-- Preview Section -->
          <div class="preview-container" *ngIf="selectedFiles">

            <div class="preview-card">

              <button type="button" class="remove-btn-manual" (click)="removeFile()">
                ✕
              </button>

              <img *ngIf="selectedFiles.type.startsWith('image/')" [src]="selectedFiles.preview" class="preview-media">

              <video *ngIf="selectedFiles.type.startsWith('video/')" [src]="selectedFiles.preview" class="preview-media"
                controls [muted]="true">
              </video>

              <div class="file-name">{{ selectedFiles.name }}</div>

            </div>

          </div>






        </div>


        <div class="d-flex justify-content-end align-items-center mt-3">

          <button class="button2 me-2" (click)="postScreenshot()">Submit</button>
          <button class="button2 me-2" mat-dialog-close>Cancel</button>
        </div>

      </form>

    </div>


  </div>


</div>
