<div class="main-container">
  <p class="title" style="font-size: 22px; color: #3d3934; font-weight: 700">
    MONITORING DASHBOARD
  </p>

  <!-- count -->
  <div class="d-flex my-2 justify-content-between align-items-center srch">
    <div class="d-flex">
      <div class="d-flex justify-content-start">
        <div class="vl-blue"></div>
        <div class="mx-2">
          <div class="status">Total sites</div>
          <div class="count">{{ showLoader ? "..." : count?.sitesCount }}</div>
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="vl-green"></div>
        <div class="mx-2">
          <div class="status">Total cameras</div>
          <div class="count">
            {{ showLoader ? "..." : count?.camerasCount }}
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="mx-2">
        <!-- <button *ngIf="user.userLevel==2" (click)="openManulProcess()"  class="btn btn-sm text-light mx-2">Manual Process</button> -->
        <button (click)="openTemplate()" class="btn btn-sm text-light">
          Template
        </button>
      </div>
      <div class="me-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Site</mat-label>
          <input
            matInput
            #siteIdInput
            [matAutocomplete]="site"
            [(ngModel)]="siteName"
            (keyup)="searchSites($event); siteSearch1 = null"
            (keyup.enter)="getSitesforUser()"
          />
          <button matSuffix mat-icon-button *ngIf="!siteName">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <button
            matSuffix
            mat-icon-button
            (click)="$event.preventDefault(); getSitesforUser()"
            *ngIf="siteName"
          >
            <mat-icon>search</mat-icon>
          </button>
          <mat-autocomplete #site="matAutocomplete">
            <mat-option
              [value]="null"
              (click)="
                currentPage = 1;
                siteSearch1 = null;
                getSitesforUser();
                siteName = ''
              "
              >All</mat-option
            >
            <mat-option
              *ngFor="let item of siteslist | search: siteSearch"
              [value]="item.siteId"
              (click)="this.siteSearch1 = item.siteName"
              >{{ item.siteName }}</mat-option
            >
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div>
        <app-pagination
          [totalPages]="totalPages"
          [currentPage]="currentPage"
          (emitPage)="getPaginatedData($event)"
        ></app-pagination>
      </div>
    </div>
  </div>

  <div class="mt-3" *ngIf="siteslist.length">
    <app-table
      [fields]="fields"
      [data]="siteslist"
      [search]="siteSearch1"
      (childEvent)="handleChildEvent($event)"
      [showLoader]="showLoader"
    ></app-table>
  </div>

  <ng-template #camera>
    <app-cameras
      [cameras]="cameraList"
      [details]="currentItem"
      (event)="(checked)"
    ></app-cameras>
  </ng-template>

  <ng-template #monitoring>
    <app-monitoring-hours
      [monitoringCameras]="monitoringCameras"
      [details]="currentItem"
    ></app-monitoring-hours>
  </ng-template>

  <ng-template #actionTag>
    <app-actiontag
      [cameralist]="cameraList"
      [monitoringCameras]="monitoringCameras"
      [details]="currentItem"
    ></app-actiontag>
  </ng-template>

  <ng-template #action>
    <app-action-view
      [cameraList]="cameraList"
      [currentItem]="currentItem"
    ></app-action-view>
  </ng-template>

  <ng-template #planned>
    <app-plannedsite
      [cameraList]="cameraList"
      [currentItem]="currentItem"
    ></app-plannedsite>
  </ng-template>

  <ng-template #sitesetting>
    <app-sitesettings
      [cameraList]="cameraList"
      [currentItem]="currentItem"
    ></app-sitesettings>
  </ng-template>

  <ng-container *ngIf="isSidePanelOpen">
    <app-sidepanel
      [isSidePanelOpen]="isSidePanelOpen"
      (sidePanelClosed)="onCloseSidePanel($event)"
      [devicesList]="cameraList"
      [details]="currentItem"
    ></app-sidepanel>
  </ng-container>

  <ng-container *ngIf="isSidePanelOpen1">
    <app-template
      [isSidePanelOpen]="isSidePanelOpen1"
      (sidePanelClosed)="onCloseSidePanel1($event)"
      [devicesList]="cameraList"
      [details]="currentItem"
    ></app-template>
  </ng-container>

  <ng-container *ngIf="manualProcessopen">
    <app-manualprocess
      [isSidePanelOpen]="manualProcessopen"
      (sidePanelClosed)="onCloseManualProcess($event)"
    ></app-manualprocess>
  </ng-container>
</div>

<ng-template #settingspopup>
  <div
    class="d-flex justify-content-between bg-light mb-2 p-1"
    style="position: sticky; top: 0; font-size: 14px"
  >
    <p>{{ currentItem?.siteName }} - Site Configuration</p>
    <button mat-dialog-close class="closebtn">x</button>
  </div>

  <form [formGroup]="flagsForm" class="form-container">
    <!-- Email -->
    <div class="question-row">
      <div class="question-text">
        Do you want to receive Email notifications?
      </div>

      <mat-radio-group
        formControlName="emailFlag"
        color="primary"
        class="radio-group"
      >
        <mat-radio-button [value]="'T'">Yes</mat-radio-button>
        <mat-radio-button [value]="'F'">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Contacts -->
    <div class="question-row">
      <div class="question-text">Should contacts be notified by call?</div>

      <mat-radio-group
        formControlName="callFlag"
        color="primary"
        class="radio-group"
      >
        <mat-radio-button [value]="'T'">Yes</mat-radio-button>
        <mat-radio-button [value]="'F'">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Text -->
    <div class="question-row">
      <div class="question-text">Do you want to receive SMS/Text alerts?</div>

      <mat-radio-group
        formControlName="textFlag"
        color="primary"
        class="radio-group"
      >
        <mat-radio-button [value]="'T'">Yes</mat-radio-button>
        <mat-radio-button [value]="'F'">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Law Enforcement -->
    <div class="question-row">
      <div class="question-text">Should law enforcement be notified?</div>

      <mat-radio-group
        formControlName="lawEnforcementFlag"
        color="primary"
        class="radio-group"
      >
        <mat-radio-button [value]="'T'">Yes</mat-radio-button>
        <mat-radio-button [value]="'F'">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <button
        mat-raised-button
        color="primary"
        type="button"
        mat-dialog-close
        (click)="submitSiteConfig()"
      >
        Submit
      </button>
    </div>
  </form>
</ng-template>
