video {
  object-fit: fill;
}

.video-player {
  border: 1px solid #666666;
  position: relative;
}

.eye-logo {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  /* background-size: cover; */
}

.tile-active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
  background-color: #000000;
  border-radius: 5px;
}

.h2 {
  height: 70vh;
  margin: 0 !important;
}

.h6 {
  height: 49.3vh;
  margin: 0 !important;
}

.h9 {
  height: 33vh;
}

.h20 {
  height: 24.7vh;
}

.time-name {
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  width: 100px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  top: 90%;
  left: 0%;
  opacity: 0.8;
}
