<div
  class="video-container"
  (mouseenter)="showControls = true"
  (mouseleave)="showControls = false"
>
  <!-- <div class="dialog-header">
    <p>{{data?.siteName}}</p>
    <a (click)="closedialog()"><img loading="lazy" src="assets/icons/close.svg" width="20" alt=""></a>
  </div> -->

  <p class="pagination-text" *ngIf="state === 'data'">
    {{ currentIndex + 1 }} of {{ videos.length }}
  </p>
  <p class="playback-text">Playback</p>

  <ng-container [ngSwitch]="state">
    <p *ngSwitchCase="'loading'" class="status-info">loading...</p>
    <p *ngSwitchCase="'empty'" class="status-info">no footage found!</p>
    <video
      *ngSwitchCase="'data'"
      #videoElement
      [src]="videos[currentIndex]"
      [controls]="state === 'data'"
      autoplay
      muted
      loop
    ></video>
  </ng-container>

  <ng-container *ngIf="videos.length > 1">
    <!-- Left Arrow -->
    <button *ngIf="showControls" class="nav left" (click)="prevVideo()">
      <span class="material-symbols-outlined"> keyboard_arrow_left </span>
    </button>

    <!-- Right Arrow -->
    <button *ngIf="showControls" class="nav right" (click)="nextVideo()">
      <span class="material-symbols-outlined"> keyboard_arrow_right </span>
    </button>
  </ng-container>
</div>
