.video-container {
  position: relative;
  width: 30vw;
  height: 100%;
  box-sizing: content-box;
  background: #000;
}

.playback-text {
  position: absolute;
  right: 4px;
  top: 4px;
  color: red;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  animation-name: show;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

.dialog-header {
  background-color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  animation-name: show;
  animation-duration: 500ms;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
