<app-status></app-status>



<ng-container *ngIf="eventData.length !== 0">
  <!-- actions taken -->
  <div
    class="d-flex justify-content-start gap-2"
    *ngIf="user.userLevel === 3 && cameraDetails"
  >
    <mat-chip-listbox multiple>
      <mat-chip-option
        *ngFor="let item of actionsTaken"
        [selected]="item.selected"
        (selectionChange)="onSelectionChange(item, $event)"
      >
        <div class="d-flex align-items-center gap-3">
          <span>{{ item?.name }}</span>

          <!-- TIME DISPLAY -->
          <span *ngIf="item.time && !item.editing">
            - {{ item?.time | date: "medium" }}

            <span
              class="material-symbols-outlined"
              style="font-size: 14px; cursor: pointer"
              (click)="enableEdit(item, $event)"
            >
              edit
            </span>
          </span>

          <!-- TIME EDIT -->
          <span *ngIf="item.editing">
            <input
              type="datetime-local"
              (click)="$event.stopPropagation()"
              (change)="updateTime(item, $event)"
            />

            <span
              class="material-symbols-outlined"
              style="font-size: 14px; cursor: pointer"
              (click)="saveEdit(item, $event)"
            >
              check
            </span>
          </span>

          <!-- RESPONDED TOGGLE -->
          <span
            class="material-symbols-outlined"
            style="font-size: 18px"
            (click)="toggleResponded(item, $event)"
            *ngIf="item.selected"
          >
            {{ item?.status ? "check_circle" : "radio_button_unchecked" }}
          </span>
        </div>
      </mat-chip-option>

      <!-- <mat-chip-option
        [selected]="noActionChecked"
        (selectionChange)="noActionToggle($event)"
        >No Action</mat-chip-option
      > -->
    </mat-chip-listbox>


<img
  src="assets/icons/mail.svg"
  [ngClass]="isMailEnabled ? 'mail-enabled' : 'mail-disabled'"

  (click)="isMailEnabled && openMail()"
/>


  </div>

  <div class="row mt-2">
    <div class="col-lg-2 d-none d-lg-block side-panel">
      <div
        class="card"
        *ngFor="let item of eventData; let i = index"
        [ngStyle]="{
          border: item?.id == this.currentItem?.id ? '2px solid #084982' : '',
        }"
      >
        <div class="card-content" (click)="displayCurrent(item)" #currentBtn>
          <div class="d-flex justify-content-between align-items-center">
            <p class="site">{{ item?.siteName }}</p>
            <!-- <a class="close-event" (click)="closeEvent(item)" matTooltip="clear">
              <img loading="lazy" src="assets/icons/close.svg" alt="" width="20px"></a> -->
          </div>
          <p class="camera">{{ item?.cameraId }}</p>
          <p class="date">
            {{ item?.timestamp }}({{ storage_service.getZone(item?.timezone) }})
          </p>
          <p class="site text-primary">{{ item?.userName | uppercase }}</p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="currentItem">
      <!-- <a class="d-block d-lg-none">menu</a> -->
      <div
        class="col-lg-10"
        style="height: calc(100vh - 130px); overflow-y: auto"
      >
        <div class="row">
          <div class="col-lg-6 mb-1">
            <div
              [ngClass]="
                currentScreen === 'event-image'
                  ? 'max-screen'
                  : 'position-relative'
              "
            >
              <a *ngIf="currentItem?.timezone" class="time-name"
                >{{ currentItem?.timestamp | date: "HH:mm:ss" }}({{
                  storage_service.getZone(currentItem?.timezone)
                }})</a
              >

              <!-- event image -->
              <img
                loading="lazy"
                [src]="environment + currentItem?.imageName"
                alt="LOADING..."
                onerror="this.src = 'assets/icons/eyedisabled.svg'"
                width="100%"
                height="500px"
                class="bg-dark border rounded"
                #image
              />

              <!-- icon buttons -->
              <div style="position: absolute; top: 5px; right: 5px">
                <button
                  class="icon"
                  (click)="getImages(1)"
                  matTooltip="Boundary-image"
                >
                  <img src="assets/icons/crop (2).svg" alt="" />
                </button>
                <button
                  class="icon"
                  (click)="getImages(2)"
                  matTooltip="Mask-image"
                >
                  <img src="assets/icons/filter (2).svg" alt="" />
                </button>
                <button class="icon" (click)="audio()" matTooltip="Siren">
                  <img
                    loading="lazy"
                    [src]="
                      isPlaying
                        ? 'assets/icons/siren-red.png'
                        : 'assets/icons/siren-new.png'
                    "
                    [ngClass]="isPlaying ? 'blink-animation' : ''"
                    alt=""
                  />
                </button>

                <button
                  class="icon"
                  (click)="openLiveDialog(1)"
                  matTooltip="Playback"
                >
                  <img loading="lazy" src="assets/icons/playback.svg" alt="" />
                </button>

                <button
                  class="icon"
                  (click)="downloadImg()"
                  matTooltip="Screenshot"
                >
                  <img
                    loading="lazy"
                    src="assets/icons/screenshot.svg"
                    alt=""
                  />
                </button>
                <button
                  class="icon"
                  (click)="
                    currentScreen === 'event-image'
                      ? maxmizeScreen('')
                      : maxmizeScreen('event-image')
                  "
                  matTooltip="Full Screen"
                >
                  <img
                    [src]="
                      currentScreen === 'event-image'
                        ? 'assets/icons/close-black.svg'
                        : 'assets/icons/fullscreen.svg'
                    "
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="d-flex gap-2 justify-content-end menu">
              <button *ngIf="currentItem?.nativeApp" class="native-badge">
                NativeApp
              </button>

              <button
                *ngFor="let btn of actionTagsNew"
                type="button"
                class="btn btn-sm dialog-update-btn"
                [matMenuTriggerFor]="falseMenu"
                (click)="getCurrentType(btn)"
                [ngStyle]="{
                  'background-color':
                    btn?.categoryId === currentActionTag?.categoryId
                      ? '#d34124'
                      : '#084982',
                }"
              >
                {{ btn?.categoryName }}
              </button>

              <mat-menu #falseMenu>
                <div class="row m-0" *ngIf="subActionTags">
                  <button
                    class="col-lg-12 action-btn"
                    *ngFor="let btn of subActionTags"
                    (click)="
                      currentSubActionTag = btn;
                      updateEventFullDetails(currentActionTag?.categoryId)
                    "
                  >
                    {{ btn?.subCategoryName }}
                  </button>
                </div>
              </mat-menu>

              <button
                type="button"
                class="btn btn-sm dialog-update-btn"
                [matMenuTriggerFor]="liveMenu"
              >
                Live
              </button>
              <mat-menu #liveMenu>
                <button class="action-btn" (click)="openLiveDialog(1)">
                  Current Camera
                </button>
                <button class="action-btn" (click)="openLiveDialog(2)">
                  Total Cameras
                </button>
              </mat-menu>
            </div>

            <div
              class="p-2 border rounded mb-1"
              [ngClass]="currentScreen === 'email' ? 'max-screen' : ''"
              *ngIf="currentActionTag?.categoryId === 2 && currentSubActionTag"
            >
              <!-- <a class="d-flex justify-content-end"
                (click)="currentScreen === 'email' ? maxmizeScreen('') : maxmizeScreen('email')">
                <img [src]="currentScreen === 'email' ? 'assets/icons/close-black.svg' : 'assets/icons/fullscreen.svg'"
                  alt="">
              </a> -->

              <ng-container *ngIf="path === 'pre-dispatch'">
                <div class="w-100">
                  <mat-radio-group
                    [(ngModel)]="object"
                    (ngModelChange)="alertType = null; alertSubType = null"
                  >
                    <mat-radio-button value="person">Person</mat-radio-button>
                    <mat-radio-button value="vehicle">Vehicle</mat-radio-button>
                  </mat-radio-group>
                </div>

                <!-- <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Action Tag</mat-label>
                    <mat-select [(ngModel)]="selectedActionTag" >
                      <mat-option *ngFor="let item of actionTags" [value]="item.value">{{item.value}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Alert Type</mat-label>
                    <mat-select [(ngModel)]="alertType">
                      <mat-option
                        *ngFor="let item of alertTypes; let i = index"
                        [value]="item.guardAlertTypeId"
                        (click)="onAlertChange(item.guardAlertTypeId)"
                        >{{ item.guardAlertType }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="w-100">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Alert Sub Type</mat-label>
                    <mat-select [(ngModel)]="alertSubType">
                      <mat-option
                        *ngFor="let item of alertSubTypes; let i = index"
                        [value]="item.guardSubAlertTypeId"
                        (click)="getEmailDataForVMSEvents()"
                        >{{ item.guardSubAlertType }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </ng-container>

              <div class="w-100">
                <mat-form-field class="w-100">
                  <mat-label>Notes</mat-label>
                  <textarea
                    matInput
                    [(ngModel)]="notes"
                    [rows]="path == 'pre-dispatch' ? 2 : 7"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>

            <div
              class="p-2 border rounded"
              *ngIf="
                currentActionTag?.categoryId === 2 &&
                currentSubActionTag &&
                cameraDetails
              "
            >
              <h3>Site Information</h3>
              <div style="overflow-y: auto; height: 24vh">
                <div
                  *ngIf="
                    path === 'pre-dispatch' ||
                    path === 'dispatch' ||
                    path === 'observer'
                  "
                >
                  <!-- MONITORING HOURS -->
                  <ng-container *ngIf="hasMonitoringHours">
                    <h3>Monitoring Hours</h3>
                    <table border="1" cellpadding="6" width="100%">
                      <tr>
                        <th>Day</th>
                        <th>Hours</th>
                      </tr>
                      <tr
                        *ngFor="
                          let day of getDays(
                            cameraDetails?.cameras[0]?.monitoringHoursDetails
                          )
                        "
                      >
                        <td>{{ day.key | titlecase }}</td>
                        <td>{{ day.value }}</td>
                      </tr>
                    </table>

                    <hr />
                  </ng-container>

                  <!-- PLANNED SITE ACTIVITIES -->
                  <ng-container
                    *ngIf="cameraDetails?.plannedSiteActivities?.length != 0"
                  >
                    <h3>Planned Site Activities</h3>
                    <table border="1" cellpadding="6" width="100%">
                      <tr>
                        <th>Activity</th>
                        <th>Description</th>
                        <th>Start</th>
                        <th>End</th>
                      </tr>
                      <tr
                        *ngFor="
                          let item of cameraDetails?.plannedSiteActivities
                        "
                      >
                        <td>{{ item.activityName }}</td>
                        <td style="word-wrap: break-word; width: 200px">
                          {{ item.plannedActivityDescription }}
                        </td>
                        <td>
                          {{
                            item.plannedActivityStart | date: "MMM d, y, h:mm a"
                          }}
                        </td>
                        <td>
                          {{
                            item.plannedActivityEnd | date: "MMM d, y, h:mm a"
                          }}
                        </td>
                      </tr>
                    </table>
                    <p *ngIf="!cameraDetails?.plannedSiteActivities?.length">
                      No Planned Activities
                    </p>

                    <hr />
                  </ng-container>
                </div>

                <div
                  *ngIf="
                    path === 'pre-dispatch' ||
                    path === 'dispatch' ||
                    path === 'observer'
                  "
                >
                  <ng-container
                    *ngIf="cameraDetails?.contactDetails?.length != 0"
                  >
                    <h3>Contact Details</h3>
                    <table border="1" cellpadding="6" width="100%">
                      <tr>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Phone</th>
                        <th>Priority</th>
                      </tr>
                      <tr *ngFor="let contact of cameraDetails?.contactDetails">
                        <td>{{ contact.contactName }}</td>
                        <td>{{ contact.contactDesignation }}</td>
                        <td>{{ contact.callNo }}</td>
                        <td>{{ contact.callPriority }}</td>
                      </tr>
                    </table>

                    <hr />
                  </ng-container>

                  <!-- sms DETAILS -->
                  <ng-container *ngIf="cameraDetails?.smsDetails?.length != 0">
                    <h3>800.Com Details</h3>
                    <table border="1" cellpadding="6" width="100%">
                      <tr>
                        <th>Contact</th>
                        <th>Priority</th>
                      </tr>
                      <tr *ngFor="let contact of cameraDetails?.smsDetails">
                        <td>{{ contact.sms800dotComNo }}</td>
                        <td>{{ contact.smsPriority }}</td>
                      </tr>
                    </table>

                    <hr />
                  </ng-container>

                  <!-- EMAIL DETAILS -->
                  <ng-container
                    *ngIf="cameraDetails?.emailDetails?.length != 0"
                  >
                    <h3>Email Details</h3>
                    <div *ngFor="let detail of cameraDetails?.emailDetails">
                      <table border="1" cellpadding="6" width="100%">
                        <tr>
                          <th>To</th>
                          <td>
                            {{
                              getValidEmails(detail.toEmails).join(", ") ||
                                "None"
                            }}
                          </td>
                        </tr>
                        <tr>
                          <th>CC</th>
                          <td>
                            {{
                              getValidEmails(detail.ccEmails).join(", ") ||
                                "None"
                            }}
                          </td>
                        </tr>
                        <tr>
                          <th>BCC</th>
                          <td>
                            {{
                              getValidEmails(detail.bccEmails).join(", ") ||
                                "None"
                            }}
                          </td>
                        </tr>
                      </table>
                      <br />
                    </div>

                    <hr />
                  </ng-container>

                  <!-- LAW ENFORCEMENT -->
                  <ng-container
                    *ngIf="cameraDetails?.lawEnforcement?.length != 0"
                  >
                    <h3>Law Enforcement Contacts</h3>
                    <table border="1" cellpadding="6" width="100%">
                      <tr>
                        <th>Contact</th>
                        <th>Description</th>
                        <th>Priority</th>
                      </tr>
                      <tr *ngFor="let law of cameraDetails?.lawEnforcement">
                        <td>{{ law.lawEnforcementContact || "N/A" }}</td>
                        <td style="word-wrap: break-word; width: 200px">
                          {{ law.lawEnforcementDescription }}
                        </td>
                        <td>{{ law.lawEnforcementPriority }}</td>
                      </tr>
                    </table>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-container
          *ngIf="
            emailData &&
            currentActionTag?.categoryId === 2 &&
            path === 'pre-dispatch'
          "
        >
          <div
            class="p-3 border rounded"
            [ngClass]="currentScreen === 'template' ? 'max-screen' : ''"
          >
            <!-- <a class="d-flex justify-content-end"
              (click)="currentScreen === 'template' ? maxmizeScreen('') : maxmizeScreen('template')">
              <img [src]="currentScreen === 'template' ? 'assets/icons/close-black.svg' : 'assets/icons/fullscreen.svg'"
                alt="">
            </a> -->

            <div class="email-subject">
              <p>{{ emailData?.emailSubject }}</p>
            </div>

            <div class="email-body">
              <div class="mt-3">
                {{ emailData?.emailBody }}
              </div>

              <div class="fields mt-2">
                <p>
                  <span>Location:&nbsp;</span
                  ><span>{{ emailData?.emailFields.LOCATION }}</span>
                </p>
                <p>
                  <span>Date:&nbsp;</span
                  ><span>{{ emailData?.emailFields.DATE }}</span>
                </p>
                <p>
                  <span>Time:&nbsp;</span
                  ><span>{{ emailData?.emailFields.TIME }}</span>
                </p>
              </div>

              <!-- <div class="mt-3">
              <a *ngFor="let item of emailData?.screenshots">
                <img loading="lazy" [src]="item" alt="Loading..." width="250px" class="m-1">
              </a>
            </div> -->

              <div class="mt-3">
                {{ emailData?.emailFooter }}
              </div>
            </div>
          </div>
        </ng-container>

        <div
          class="d-flex align-items-center justify-content-end gap-1 mt-2"
          *ngIf="currentActionTag?.categoryId === 2"
        >
          <ng-container *ngIf="path === 'pre-dispatch' && emailData">
            <button
              class="btn-secondary"
              (click)="updateEventFullDetails('second-level')"
              title="Send Email & Close"
            >
              Complete
            </button>
            <button
              class="btn-secondary"
              (click)="write2Dispatch(this.storage_service.getData(3))"
              title="Send to Dispatch"
            >
              Escalate
            </button>
          </ng-container>

          <ng-container
            *ngIf="path === 'dispatch' && currentSubActionTag"
            class="mt-5"
          >
            <button
              class="btn-secondary"
              (click)="updateEventFullDetails('third-level')"
              title="Close"
            >
              Complete
            </button>
            <button
              class="btn-secondary"
              (click)="write2Dispatch(this.storage_service.getData(4))"
              title="Send to Observer"
            >
              Escalate
            </button>
          </ng-container>

          <ng-container
            *ngIf="path === 'observer' && currentSubActionTag"
            class="mt-5"
          >
            <button
              class="btn-secondary"
              (click)="updateEventFullDetails('fourth-level')"
              title="Send Email & Close"
            >
              Complete
            </button>
            <button
              class="btn-secondary"
              (click)="write2Dispatch(this.storage_service.getData(3))"
              title="Send to Second Level"
            >
              Escalate
            </button>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #monitoringImg>
  <div class="dialog-content p-0">
    <div class="d-flex justify-content-between">
      <p>Boundary-image</p>
      <p>{{ currentItem?.siteName }}</p>

      <button
        mat-dialog-close
        style="background-color: transparent; border: none"
      >
        X
      </button>
    </div>

    <div class="dashboard-img">
      <img
        [src]="
          !storage_service.showMediaLoader
            ? (monitoringImage | image | async)
            : 'assets/gif/loading-text-gif.gif'
        "
        width="100%"
        height="100%"
        alt=""
        loading="lazy"
        onerror="this.src = 'assets/icons/eyedisabled.svg'"
        #monitoringSrc
      />
    </div>
  </div>
</ng-template>

<ng-template #eventsImg>
  <div class="dialog-content p-0">
    <div class="d-flex justify-content-between">
      <p>Mask-image</p>
      <p>{{ currentItem?.siteName }}</p>

      <button
        mat-dialog-close
        style="background-color: transparent; border: none"
      >
        X
      </button>
    </div>

    <div class="dashboard-img">
      <img
        [src]="
          !storage_service.showMediaLoader
            ? (eventsImage | image | async)
            : 'assets/gif/loading-text-gif.gif'
        "
        alt=""
        width="100%"
        height="100%"
        loading="lazy"
        onerror="this.src = 'assets/icons/eyedisabled.svg'"
        #eventSrc
      />
    </div>
  </div>
</ng-template>




<ng-template #openmailtemplate>

  <div class="button-close-email">
    <button
      type="button"
      class="icon-btn"
      (click)="closeMailoverlay()"
      title="Close"
    >
      <img
        src="assets/icons/close-filled-black.svg"
        alt="close"
        class="escalated-icon"
      />
    </button>
  </div>


  <ng-container *ngIf="isMediaLoading ">
    <div class="spinner" style="position: absolute; top: 40%; left: 40%"></div>
  </ng-container>



  <ng-container
    *ngIf="!isMediaLoading && !emailData"
  >
    <p class="email-text">No Data</p>
  </ng-container>

  <div class="email-wrapper">
    <div style="overflow-y: auto; height: 50vh; width: 50vw">
      <ng-container
        *ngIf="!isMediaLoading && emailData "
      >
        <!-- ================= EMAIL PREVIEW ================= -->
        <div class="email-logo">
          <img [src]="emailData?.logoUrl" alt="no image" />
        </div>

        <div class="email-site">
          <div class="site-name">{{ currentItem?.siteName }}</div>
        </div>
        <div class="email-alert">
          {{ emailData?.emailSubject }}
        </div>
        <div class="email-body-section">
          <table class="email-table">
            <tr>
              <td class="label">To</td>
              <td class="value">
                {{
                  emailData?.recipientEmails?.length
                    ? emailData.recipientEmails.join(", ")
                    : "-"
                }}
              </td>
            </tr>

            <tr>
              <td class="label">Cc</td>
              <td class="value">
                {{ emailData?.Cc?.length ? emailData.Cc.join(", ") : "-" }}
              </td>
            </tr>

            <tr>
              <td class="label">Bcc</td>
              <td class="value">
                {{ emailData?.BCC?.length ? emailData.BCC.join(", ") : "-" }}
              </td>
            </tr>
            <tr>
              <td class="label">Date & Time</td>
              <td class="value">
                {{ emailData?.emailFields?.DATE }} -
                {{ emailData?.emailFields?.TIME }}
              </td>
            </tr>
          </table>

          <hr class="divider" />

          <table class="email-table">
            <tr>
              <td class="label">Description</td>
              <td class="value description">
                {{ emailData?.emailBody }}
              </td>
            </tr>
          </table>

          <table class="email-table">
            <tr>
              <td class="label">Camera</td>
              <td class="value">{{ currentItem?.cameraId }}</td>
            </tr>
          </table>

          <div class="email-footer-text">
            Please review the information above.<br /><br />
            Call <b>(844) 438-4847 (ext. 1)</b> or email
            <b>{{ "support@ivisecurity.com" }}</b>
          </div>
        </div>
        <div class="email-gradient"></div>
        <div class="action-section">
          <h3 class="action-title">Resolution Details</h3>

          <div class="form-row">
            <div class="form-group">
              <label>Actions Taken</label>
              <div class="custom-chips-container" (click)="chipInput.focus()">
                <span
                  class="custom-chip"
                  *ngFor="let item of combinedActions; let i = index"
                >
                  {{ item }}
                  <span class="remove-chip" (click)="removeChip(item)">×</span>
                </span>
                <input
                  #chipInput
                  type="text"
                  [(ngModel)]="chipText"
                  placeholder="Describe action taken"
                  (keydown)="handleChipInput($event)"
                  (blur)="addChipOnBlur()"
                />
              </div>
            </div>
          </div>

          <div class="form-group">
              <label>Notes</label>
              <input
                type="text"
                [(ngModel)]="resolution"
                placeholder="Additional notes"
              />
            </div>
          <!-- ===== FILE UPLOAD ===== -->
          <div class="upload-box">
            <input
              #fileInput
              type="file"
              multiple
              (change)="onFilesSelected($event)"
              accept="image/*,video/*"
            />
            <p>Click to upload images/videos</p>
          </div>

          <!-- ===== FILE LIST ===== -->
          <div *ngIf="selectedFiles.length" class="file-list">
            <div
              *ngFor="let file of selectedFiles; let i = index"
              class="file-chip"
            >
              {{ file.name }}
              <button (click)="removeFile(i, fileInput)">✕</button>
            </div>
          </div>

          <div class="preview-actions">
            <button class="btn-preview" (click)="showPreview = true">
              Preview
            </button>
            <button
              class="btn-submit"
              (click)="submitResolution()"
              [disabled]="isSubmitting"
            >
              Submit
              <span *ngIf="isSubmitting" class="spinner1"></span>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>


</ng-template>










<!-- ================= PREVIEW POPUP ================= -->
<div class="preview-overlay" *ngIf="showPreview">
  <div class="preview-popup">
    <div class="button-close-email" style="position: sticky; top: 0">
      <button
        type="button"
        class="icon-btn"
        (click)="showPreview = false"
        title="Close"
      >
        <img
          src="assets/icons/close-filled-black.svg"
          alt="close"
          class="escalated-icon"
        />
      </button>
    </div>

    <!-- ===== EMAIL TEMPLATE ===== -->
    <div class="email-wrapper">
      <div style="overflow-y: auto; max-height: 80vh">
        <div class="email-logo">
          <img [src]="emailData?.logoUrl" alt="no image" />
        </div>

        <div class="email-site">
          <div class="site-name">{{ currentItem?.siteName }}</div>
        </div>

        <div class="email-alert">
          {{ emailData?.emailSubject }}
        </div>

        <!-- ===== EMAIL TABLE ===== -->
        <div class="email-body-section">
          <table class="email-table">
            <tr>
              <td class="label">To</td>
              <td class="value">
                {{
                  emailData?.recipientEmails?.length
                    ? emailData.recipientEmails.join(", ")
                    : "-"
                }}
              </td>
            </tr>

            <tr>
              <td class="label">Cc</td>
              <td class="value">
                {{ emailData?.Cc?.length ? emailData.Cc.join(", ") : "-" }}
              </td>
            </tr>

            <tr>
              <td class="label">Bcc</td>
              <td class="value">
                {{ emailData?.BCC?.length ? emailData.BCC.join(", ") : "-" }}
              </td>
            </tr>
            <tr>
              <td class="label">Date & Time</td>
              <td class="value">
                {{ emailData?.emailFields?.DATE }} -
                {{ emailData?.emailFields?.TIME }}
              </td>
            </tr>
          </table>

          <hr class="divider" />

          <table class="email-table">
            <tr>
              <td class="label">Description</td>
              <td class="value description">
                {{ emailData?.emailBody }}
              </td>
            </tr>
          </table>

          <table class="email-table">
            <tr>
              <td class="label">Camera</td>
              <td class="value">{{ currentItem?.cameraId }}</td>
            </tr>
          </table>

          <hr class="divider" />

          <table class="email-table">
            <tr>
              <td class="label">Actions Taken</td>
              <td class="value">{{ combinedActions.join(", ") || "-" }}</td>
            </tr>
          </table>

          <table class="email-table">
            <tr>
              <td class="label">Notes</td>
              <td class="value">{{ resolution || "-" }}</td>
            </tr>
          </table>

          <div class="email-footer-text">
            Please review the information above.<br /><br />
            Call <b>(844) 438-4847 (ext. 1)</b> or email
            <b>{{ "support@ivisecurity.com" }}</b>
          </div>
        </div>

        <div class="email-gradient"></div>

        <!-- ================= GMAIL-STYLE ATTACHMENTS ================= -->
        <div *ngIf="selectedFiles.length" class="gmail-attachments">
          <h4>Attachments</h4>

          <div class="attachment-list">
            <div *ngFor="let file of selectedFiles" class="attachment-card">
              <!-- IMAGE PREVIEW -->
              <img
                *ngIf="file.type.startsWith('image')"
                [src]="file | filePreview"
                class="attachment-preview"
              />

              <!-- VIDEO PREVIEW -->
              <video
                *ngIf="file.type.startsWith('video')"
                [src]="file | filePreview"
                autoplay
                [muted]="true"
                loop
                controls
                class="attachment-preview"
              ></video>

              <div class="attachment-name">{{ file.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









