<app-header></app-header>

<div class="overall-container">
  <div class="left-content ">
    <div class="list-group">
      <a class="list-group-item" [routerLink]="['/user-dashboard/monitoring-info']" routerLinkActive="routeactive">
        <img src="assets/icons/dashboard.svg">
        <span style="font-weight: 500;">Dashboard</span>
      </a>
      <a class="list-group-item" [routerLink]="['/dashboard']" routerLinkActive="routeactive">
        <img src="assets/icons/sites.svg">
        <span style="font-weight: 500;">Sites</span>
      </a>
      <a class="list-group-item" [routerLink]="['/user-dashboard/alerts-info']" routerLinkActive="routeactive">
        <img src="assets/icons/dashboard.svg">
        <span style="font-weight: 500;">Alerts</span>
      </a>
      <!-- <a class="list-group-item" [routerLink]="['/user-dashboard/playback-info']" routerLinkActive="routeactive">
        <img src="assets/icons/dashboard.svg">
        <span style="font-weight: 500;">Playback</span>
      </a> -->
      <!-- <a class="list-group-item " [routerLink]="['/device-status']" routerLinkActive="routeactive">
        <img src="assets\icons\sites.svg">
        <span style="font-weight: 500;">Devices</span>
      </a> -->
      <a class="list-group-item" [routerLink]="['/user-dashboard/events']" routerLinkActive="routeactive">
        <img src="assets/icons/dashboard.svg">
        <span style="font-weight: 500;">2nd Level</span>
      </a>
      <a class="list-group-item" [routerLink]="['/user-dashboard/third-level']" routerLinkActive="routeactive">
        <img src="assets/icons/dashboard.svg">
        <span style="font-weight: 500;">3rd Level</span>
      </a>
    </div>
  </div>


  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

</div>