.overall-container {
  display: flex;
  height: calc(100vh - 65px);
}

.left-content-active {
  color: #fff;
  /* background-image: var(--background-img); */
  background-size: cover;
  width: 300px;
  transition: all 300ms ease-in-out;
}

.left-content {
  width: 50px;
  overflow: hidden ;
  transition: all 300ms ease-in-out;
}

.forw{
  transition: all 1000ms linear;
}

.backw{
  rotate: 180deg;
  transition: all 1000ms linear;
}

.main-container {
  width: 100%;
  background-color: white;
  padding: 16px;
}

.site-Details {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.colap-arr{
  cursor: pointer;
  position: relative;
  right: -96%;
  transform: translateX(-100%);
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.colap-arr:hover{
  background-color: #084982;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  margin-top: 20px;
}

.list-group-item {
  background-color: transparent;
  color: #fff;
  border: none;
  margin: 8px;
  display: flex;
  align-items: center;
}

.list-group-item-active {
  background-color: transparent;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
}

.list-group-item :active {
  background-color: #084982;
  border-radius: 5px;
}

.list-group-item img {
  width: 20px;
}

.list-group :hover {
  background-color: #084982;
  border-radius: 5px;
}

.routeactive {
  background-color: #084982;
  border-radius: 5px;
}

.list-group img {
  margin-right: 10px;
}

.srch ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}