.overall-container {
  display: flex;
  height: calc(100vh - 65px);
}

.left-content {
  background-color: var(--background);
  color: #fff;
  /* background: #dbd5d5; */
  background-size: cover;
  width: 300px;
  transition: all 300ms ease-in-out;
}

/* .forw {
  transition: all 1000ms linear;
}

.backw {
  rotate: 180deg;
  transition: all 1000ms linear;
} */

.main-container {
  width: 100%;
  background-color: white;
  padding: 8px 16px;
}

.site-Details {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}

.colap-arr {
  /* background-color: white;
  border-radius: 50%; */
  background: transparent;
  color: #ffffff;
  padding: 5px;
  border: none;
  transition: all 300ms ease-in-out;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.list-group-item {
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: var(--route-background);
    color: #000000;
    border-radius: 5px;
  }
}

/* .list-group-item-active {
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin: 4px;
  transition: all 300ms ease-in-out;
  text-align: center;
  margin: 8px 4px;
  padding: 4px;
} */

.routeactive {
  background-color: var(--route-background);
  color: #000000;
  border-radius: 5px;
  text-align: center;
}

.srch ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.material-symbols-outlined {
  font-size: 18px;
}
