<app-header></app-header>

<div class="overall-container">
  <div
    class="left-content"
    [ngStyle]="{ width: showSidenav ? '300px' : '50px' }"
  >
    <div class="d-flex justify-content-center my-1">
      <button class="colap-arr" (click)="collap_nav()">
        <span
          class="material-symbols-outlined"
          [ngStyle]="{ rotate: showSidenav ? '' : '180deg' }"
        >
          arrow_back
        </span>
      </button>
    </div>

    <div class="list-group">
      <a
        class="list-group-item"
        [routerLink]="['/user-dashboard/monitoring-info']"
        routerLinkActive="routeactive"
      >
        <span class="material-symbols-outlined" matTooltip="Dashboard">
          dashboard
        </span>
        <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
          >Dashboard</span
        >
      </a>

      <!-- <a class="list-group-item"
      [routerLink]="['/user-dashboard/nvr']" routerLinkActive="routeactive">
      <img loading="lazy" src="assets/icons/device.svg" matTooltip="Devices" />
      <span style="font-weight: 500; margin-left: 10px;" *ngIf="showSidenav">Devices</span>
    </a> -->

      <a
        class="list-group-item"
        [routerLink]="['/dashboard']"
        routerLinkActive="routeactive"
      >
        <span class="material-symbols-outlined" matTooltip="Live">
          video_camera_back
        </span>
        <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
          >Live</span
        >
      </a>

      <a
        class="list-group-item"
        [routerLink]="['/user-dashboard/alerts-info']"
        routerLinkActive="routeactive"
      >
        <span class="material-symbols-outlined" matTooltip="Alerts">
          notifications_unread
        </span>
        <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
          >Alerts</span
        >
      </a>

      <!-- <a
        class="list-group-item"
        [routerLink]="['/user-dashboard/insights']"
        routerLinkActive="routeactive"
      >
        <span class="material-symbols-outlined" matTooltip="Insights">
          bar_chart
        </span>
        <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
          >Insights</span
        >
      </a> -->

      <!-- <a
        class="list-group-item"
        [routerLink]="['/user-dashboard/sites']"
        routerLinkActive="routeactive"
      >
        <span class="material-symbols-outlined" matTooltip="Sites">
          apartment
        </span>
        <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
          >Sites Info</span
        >
      </a> -->

      <!-- <a class="list-group-item " [routerLink]="['/user-dashboard/device-status']" routerLinkActive="routeactive">
        <img loading="lazy" src="assets/icons/floppy-disk.svg">
        <span style="font-weight: 500; margin-left: 10px;" matTooltip="" *ngIf="showSidenav">Devices</span>
      </a> -->

      <ng-container *ngIf="user?.userLevel === 2">
        <a
          class="list-group-item"
          [routerLink]="['/user-dashboard/events/pre-dispatch']"
          routerLinkActive="routeactive"
        >
          <span class="material-symbols-outlined" matTooltip="Pre-Dispatch">
            schedule_send
          </span>
          <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
            >Pre-Dispatch</span
          >
        </a>
      </ng-container>

      <ng-container *ngIf="user?.userLevel === 3">
        <a
          class="list-group-item"
          [routerLink]="['/user-dashboard/events/dispatch']"
          routerLinkActive="routeactive"
        >
          <span class="material-symbols-outlined" matTooltip="Dispatch">
            display_external_input
          </span>
          <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
            >Dispatch</span
          >
        </a>
      </ng-container>

      <ng-container *ngIf="user?.userLevel === 4">
        <a
          class="list-group-item"
          [routerLink]="['/user-dashboard/events/observer']"
          routerLinkActive="routeactive"
        >
          <span class="material-symbols-outlined" matTooltip="Observer">
            tab_search
          </span>
          <span style="font-weight: 500; margin-left: 10px" *ngIf="showSidenav"
            >Observer</span
          >
        </a>
      </ng-container>
    </div>
  </div>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
