.generate-event-container {
    position: absolute;
    width: 700px;
    overflow-y: auto;
    box-sizing: border-box;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-radius: 4px;
    z-index: 999;
  }
  
  .generate-event-handle {
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
    width: 100%;
    /* visibility: hidden; */
  }