/* You can add global styles to this file, and also import other style files */

/* @font-face {
  font-family: SG;
  src: url(assets/font/SackersGothicStd-Light.otf) format("opentype");
}

@font-face {
  font-family: MS;
  src: url(assets/font/Montserrat-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: PS;
  src: url(assets/font/Poppins-SemiBold.ttf) format("truetype");
} */

@font-face {
  font-family: ES;
  src: url("assets/font/EngraversGothicRegular.otf") format("opentype");
}

@font-face {
  font-family: TP;
  src: url("assets/font/Typold-Book500.otf") format("opentype");
}

:root {
  --background: linear-gradient(
    325deg,
    rgba(20, 31, 77, 0.9) 18%,
    rgba(90, 13, 3, 0.9) 66%
  );
  --header-background: #084982;
  --table-background: #084982;
  --cmn-background: #084982;
  --primary: #084982;
  --secondary: #ffff;
  --loader-background: linear-gradient(
    90deg,
    rgba(28, 74, 130, 0.9) 0%,
    rgba(131, 96, 110, 0.9) 50%,
    rgba(208, 67, 41, 0.9) 100%
  );
  --route-color: #5584ad;
}

*:not(.material-icons) {
  font-family: "TP", sans-serif !important;
}

html,
body {
  height: 100%;
  user-select: none;
  overflow-y: hidden;
}

body {
  margin: 0;
  background-size: cover;
  background-image: var(--background);
}

p {
  margin: 0 !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.btn {
  background-color: var(--cmn-background) !important;
  color: #ffffff;
}

.title {
  font-family: "ES", sans-serif !important;
}

.text {
  font-family: "TP", sans-serif !important;
}

.pointer {
  cursor: pointer;
}

.w-250 {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.status {
  font-size: 12px;
  color: #28231d;
  letter-spacing: 0.5px;
  width: 120px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 600;
}

.count {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.vl-black {
  border-left: 2px solid #1a1b1b;
  height: 40px;
}
.vl-violet {
  border-left: 2px solid violet;
  height: 40px;
}

.vl-green {
  border-left: 2px solid #00a44c;
  height: 40px;
}

.vl-blue {
  border-left: 2px solid #084982;
  height: 40px;
}

.vl-red {
  border-left: 2px solid #ef2800;
  height: 40px;
}

.vl-yellow {
  border-left: 2px solid #f5b400;
  height: 40px;
}

.vl-orange {
  border-left: 2px solid #ef6000;
  height: 40px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #e7dcdc;
}

::-webkit-scrollbar-thumb {
  background: #084982;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #084982ef;
}

.form-control {
  box-shadow: none !important;
  outline: none !important;
  font-size: 14px !important;
}

.form-select {
  font-weight: 600;
  font-size: 12px;
}

.dialog-title {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
}

.dialog-content {
  padding: 0 10px;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
}

.dialog-update-btn {
  background-color: #084982;
  color: #fff;
  border-radius: 16px;
  border-width: 0;
  font-size: 12px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
}

.dialog-update-submit {
  background-color: #08827c;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  font-size: 12px;
  margin: 0 10px 10px 0;
}

.dialog-update-btn:active {
  opacity: 0.8;
}

.dialog-close-btn {
  background-color: #d34124;
  color: #fff;
  border-radius: 16px;
  border-width: 0;
  font-size: 12px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
}

.dialog-close-btn:active {
  opacity: 0.8;
}
