/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: ES;
  src: url('assets/font/EngraversGothicRegular.otf') format("opentype");
}

@font-face {
  font-family: TP;
  src: url('assets/font/Typold-Book500.otf') format("opentype");
}


:root {
  --background: linear-gradient(325deg, #1E3F73 100%, #ffffff 0%);
  --cmn-background: #ffffff;
  --table-background: #ffffff;
  --loader-background: rgba(72, 116, 182, 0.8);
  --route-color: #7d8d9b;
}

*:not(.material-icons) {
  font-family: 'TP', sans-serif !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-size: cover;
  background-image: var(--background);
}

p {
  margin: 0 !important;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.btn {
  background-color: var(--cmn-background) !important;
}

.title {
  font-family: 'ES', sans-serif !important;
}

.text {
  font-family: 'TP', sans-serif !important;
}

.pointer {
  cursor: pointer;
}


.w-250 {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.status {
  font-size: 12px;
  color: #28231D;
  letter-spacing: 0.5px;
  width: 120px;
  font-weight: 600;
}

.count {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}

.vl-green {
  border-left: 2px solid #00A44C;
  height: 40px;
}

.vl-blue {
  border-left: 2px solid #084982;
  height: 40px;
}

.vl-red {
  border-left: 2px solid #EF2800;
  height: 40px;
}

.vl-yellow {
  border-left: 2px solid #F5B400;
  height: 40px;
}

.vl-orange {
  border-left: 2px solid #EF6000;
  height: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e7dcdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #084982;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #084982ef;
}

.form-control {
  box-shadow: none !important;
  outline: none !important;
  font-size: 14px !important;
}

.form-select {
  font-weight: 600;
  font-size: 12px;
}

.dialog-title {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px;
}

.dialog-content {
  padding: 0 10px;
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
}

/*Dialog update-btn*/
.dialog-update-btn {
  background-color: #084982;
  color: #fff;
  /* width: 70px; */
  /* padding: 6px 0; */
  border-radius: 16px;
  border-width: 0;
  font-size: 12px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
}

.dialog-update-submit {
  background-color: #08827c;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border-width: 0;
  font-size: 12px;
  margin: 0 10px 10px 0;

}

.dialog-update-btn:active {
  opacity: 0.8;
}

/*Dialog close-btn*/
.dialog-close-btn {
  background-color: #d34124;
  color: #fff;
  /* width: 70px; */
  /* padding: 5px; */
  border-radius: 16px;
  border-width: 0;
  font-size: 12px;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
}

.dialog-close-btn:active {
  opacity: 0.8;
}