<div
  class="video-container"
  (mouseenter)="showControls = true"
  (mouseleave)="showControls = false"
>


 <!-- <div class="dialog-header">
    <p>{{data?.siteName}}</p>
    <a (click)="closedialog()"><img loading="lazy" src="assets/icons/close.svg" width="20" alt=""></a>
  </div> -->

  <video #videoPlayer [src]="videos[currentIndex]" autoplay muted></video>

  <!-- Left Arrow -->
  <button
    *ngIf="showControls "
    class="nav left"
    (click)="prevVideo()"
  >
    ◀
  </button>

  <!-- Right Arrow -->
  <button
    *ngIf="showControls "
    class="nav right"
    (click)="nextVideo()"
  >
    ▶
  </button>
</div>
