.text {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #084982;
}

.blink {
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
